boto3>=1.34.0
rotate_backups_s3>=0.3.0
pysftp>=0.2.9
oauthlib>=3.2.0
redis>=5.0.0
ovh>=1.1.0
psycopg2-binary>=2.9.0
requests>=2.31.0
cachetools>=5.0.0
odoo18-addon-connector>=18.0.1.0.0
odoo18-addon-queue-job>=18.0.1.0.0
